<html>
  <head>
    <title>test</title>
  	<link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>
  <body>
    <div class="home-img-back"></div>
    <div class="home-img-mid"></div>
    <div class="home-img-front"></div>
  </body>
</html>