<html>
  <head>
    <title>test</title>
  </head>
  <body>
    home
    {{#each list}}
        <li>
          <a href="/post/{{this}}">
            {{this}}
          </a>
        </li>
    {{/each}}
  </body>
</html>