{{> partial/head}}

  <main class="e-main">
    <ul class="e-home-list">
      {{#each list}}
        <li>
          <a href="/posts/{{this.title}}">
            <h3>{{{this.title}}}</h3>
          </a>
          <time>{{{this.date}}}</time>
        </li>
      {{/each}}
    </ul>

    {{> partial/pagination}}
  </main>

{{> partial/footer}}