{{> partial/head}}

  <main class="e-main">
    <ul class="e-home-list">
      {{#each list}}
          <li>
            <a href="/posts/{{this}}">
              {{{this}}}
            </a>
          </li>
      {{/each}}
    </ul>
  </main>

{{> partial/footer}}