{{> partial/head}}

  <main class="e-main">
    <section class="typo">
      <h2>{{title}}</h2>
      <time>{{date}}</time>
      <p>{{tags}}</p>
      {{{content}}}
    </section>
  </main>

{{> partial/footer}}